#basket {
   width: 250px;
   height: fit-content;
   border-radius: 10px;
   background-color: #FDD55B;
   padding-bottom: 10px;
}

/* Верхняя часть корзицы с изображением */
#basket-description {
   display: flex;
   width: 100%;
   height: 4em;
   background-color: #FFC000;
}

/* Обертка для рисунка */
#basket-image {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
   margin-left: 10px;
}

#basket-logo {
   position: absolute;
   z-index: 2;
   height: 70%;
   shape-outside: url(i/shopping-basket.svg);
   filter: drop-shadow(2px 2px 0px #D7A100) drop-shadow(3px 3px 0px #D7A100) 
   drop-shadow(4px 4px 0px #D7A100) drop-shadow(5px 5px 0.5px #D7A100) drop-shadow(6px 6px 1px #D7A100);

}

#basket-shadow {
   position: absolute;
   margin-top: 40px;
   margin-left: 10px;
   background-image: linear-gradient(90deg, #D7A100 70%, transparent);
   transform: rotate(45deg);
   height: 45px;
   width: 100px;
   z-index: 1;
   border-top-left-radius: 30px;
}

#basket-name {
   float: right;
   margin-right: 40px;
   margin-top: 15px;
   font-family: serif;
   color: white;
   text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
   font-size: 30px;
}

/* Основная часть корзины  */
#basket-products {
   table-layout: fixed;
   width: 200px;
   border-collapse: collapse;
   margin-left: 3px;
   margin-right: 3px;
   color: #545045;
}

#basket-products-head {
   border-bottom: 3px solid #FFC000;
}

.basket-products-columns {
   font-size: 15px;
   color: #545045;
}

.basket-products-columns#name {
   margin-left: 0px;
}

.basket-products-columns#count {
   float: right;
   margin-right: 0px;
}
.basket-products-columns-count{
   text-align: end;
}

#order-information {
   display: grid;
   place-items: center;
}

#order-status {
   font-size: 16px;
   color: #545045;
}

#place-an-order {
   border: 0px;
   background-color: #808080;
   color: white;
   border-radius: 2px;
   width: 70%;
   box-shadow: 0px 1px 0px black;

}