.position-card {
   margin: 20px;
   display: grid;
   place-items: center;
   width: calc(100%/4);
   height: fit-content;
}

.logo {
   width: 50%;
}

.product-image-wrapper{
   display: flex;
  justify-content: center;
  align-items: center;
   background-color: white;
   width: 80%;
   aspect-ratio: 1/1;
   border-radius: 50%;
   border: 15px solid #FFC000;
   filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
   overflow: hidden;
}
.product-image {
   width: 100%;
}

.product-name {
   margin-top: 5px;
   color: #444444;
}

.product-ingridients {
   text-decoration-line:underline ;
   cursor: pointer;
   color: #0000EE;
   text-align: center;
   height: 60px;
   width: 100%;
   padding-top: 7px;
   border-top: 3px solid #444444;
   border-bottom: 3px solid #444444;
}

.product-price {
   color: #E6614C;
   font-size: 20px;
}

.counter-description {
   font-size: 15px;
}

.product-counter {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 50px;
}

.counter-buttons {
   text-align: center;
   cursor: pointer;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 0px;
   margin: 10px;
   background: none;
   outline: none;
   color: black;

   font-weight: bold;
   box-shadow: 0px 0px 3px black;
}

.counter-buttons-text {
   margin: 0;
   font-size: 25px;
   position: relative;
   background-color: #565656;
   color: transparent;
   text-shadow: 0px 2px 3px rgba(255, 255, 255, 1);
   background-clip: text;
}


.product-counter-input {
   text-align: center;
   width: 45px;
   height: 30px;
   margin: 10px;
   margin-left: 15px;
   margin-right: 15px;
   border: none;
   border-radius: 5px;
   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

input[type="number"] {
   -moz-appearance: textfield;
   -webkit-appearance: textfield;
   appearance: textfield;
}

input:focus{
   outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   display: none;
}

.product-add-to-basket {
   border: none;
   border-radius: 3px;
   width: 70%;
   height: 30px;
   background-color: #FFC000;
   color: white;
   font-size: 25px;
   font-weight: 800;
   text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 2px 0px rgba(0, 0, 0, 0.5);
}